body {
    margin: 0;
    background-color: #a89e7c;
    font-family: "Times New Roman", serif;
    line-height: 1.7;
    font-size: 20px;
    color: #1a1a1a;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(245, 235, 210, 0.95);
    border-bottom: 3px solid #000;
    padding: 10px 0;
    z-index: 1000;
}

.nav-inner {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
}

.nav-links a:hover {
    border-bottom: 2px solid black;
}

.top-space {
    margin-top: 120px;
}


.section {
    max-width: 900px;
    margin: auto;
    padding: 10px 0;
}


.title, .subtitle {
    width: fit-content;
    border: 3px solid #000;
    padding: 10px 20px;
    background: rgba(250, 245, 230, 0.7);
}

.title {
    border-width: 4px;
    font-size: 2rem;
}


.inside-title {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 6px 14px;
    border: 3px solid #000;
    width: fit-content;
    background: rgba(250, 245, 230, 0.7);
}


.hero-img {
    display: block;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 8px;
}


.boxed {
    background: rgba(255, 248, 230, 0.85);
    padding: 25px 30px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    margin-bottom: 50px;
}


.yt-video {
    display: block;
    margin: 20px auto;
    max-width: 800px;
    width: 100%;
    height: 420px;
    border-radius: 8px;
}


.quiz-block {
    margin-bottom: 30px;
}

button {
    background: #000;
    color: white;
    border: none;
    padding: 10px 16px;
    margin-right: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #333;
}

.result {
    font-weight: bold;
}


footer {
    text-align: center;
    padding: 15px;
    background: rgba(255,255,255,0.75);
    border-top: 3px solid #000;
    margin-top: 50px;
}