/* 
Ühine fail stiili jaoks 
Kõik stiili peaks siin kirjeldama
*/

a { /* peida kõik lingid vaikimisi. peab kasutama nõrk-link või link, et eristada*/
    color:#000; 
    text-decoration: none;
}

.link {
    text-decoration: underline; 
    color: #00f;
}

.nõrk-link {
    text-decoration: underline;
    text-decoration-color: #0004;
}

.vari {
    box-shadow: 2px 2px 4px #000a;
    border-right: solid 2px #fff2;
    border-bottom: solid 2px #fff2;
}   

.kast {
    background-color: #ccc;
    padding: 8px;
    border-radius: 20px;
    width: fit-content;
}

header {
    background: #ededcd;
    margin:0 !important;
    padding:1px;
    height:90px;
}

header h1 {
    padding:1px;
    margin-left: 5vw;
}

body, div {
    padding: 0;
    margin:0;
}

table tr th {
    border: solid 1px #000;
}
table {
    border-collapse: collapse;
}


