/* 
Ühine fail stiili jaoks 
Kõik stiili peaks siin kirjeldama
*/

.värvita-link {
    text-decoration: none; 
    color: #000;
}

.vari {
    box-shadow: 2px 2px 4px #000a;
    border-right: solid 2px #fff2;
    border-bottom: solid 2px #fff2;
}

.kast {
    background-color: #ccc;
    padding:5px;
    border-radius: 20px;
}