/* 
Ühine fail stiili jaoks 
Kõik stiili peaks siin kirjeldama
*/

.värvita-link {
    text-decoration: none; 
    color: #000;
}

.vari {
    box-shadow: 2px 2px 4px #000a;
    border-right: solid 2px #fff2;
    border-bottom: solid 2px #fff2;
}   

.kast {
    background-color: #ccc;
    padding: 8px;
    border-radius: 20px;
    width: fit-content;
}

header {
    background: #ededcd;
    margin:0 !important;
    padding:1px;
}
body, div {
    padding: 0;
    margin:0;
}
header h1 {
    padding:10px;
    margin-left: 5vw;
}

table tr th {
    border: solid 1px #000;
}
table {
    border-collapse: collapse;
}


