body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    background-image: url('pildid/gradient.png');
    background-size: cover;
    margin: 0;
    text-shadow: #808080 1px 1px 2px;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin: 0px;
    
}

nav ul {
    list-style-type: none;
    padding: 7px;
    background-color: #444;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
    color: white;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

nav ul li a:hover {
    text-decoration: underline;
}

h2 {
    color: #ececec;
}

h2 {
    margin-top: 30px;
    margin-left: 20px;
}

p {
    margin: 20px 0;
    margin-left: 20px;
    color: #f0f0f0;
}

.tutvustus {

    background-color: #616161;
    margin-top: 0;
    margin-left: 0;
    padding: 10px;
    
}

.tutvustus2 {
    color: #cececd;
    text-decoration: none;
}

.gamingpildid{
    display: flex;
    text-align: center;
    justify-content: auto;
}

.game-info {
  display: none;
  width: 100%;
  box-sizing: border-box;
  background: #646464;
  border-top: 0 solid #ccc;
  padding: 20px;
  margin: 0;
  color: #ffffff;
}


.game img {
    cursor: pointer;
    margin-bottom: 0;
}

.pilt1 {
    margin-left: 20px;
    margin-top: 20px;
}